.cart{
    width: 100%;
    height: 88%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cart__container{
    flex: 2;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow-y: scroll;
    margin-bottom: 1em;
}
.cart__container__buy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.by__btn{
    width: 100%;
    margin-bottom: 1em;
    padding: 10px 0;
    cursor: pointer;
    background-color: var(--bg-color-red);
    color: white;
    font-size: 15px;
    font-weight: bold;
}